@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: black;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #6A0DAD, #4F46E5);
  gap: 2vw
}

.navbar svg {
  height: 30%;
  width: 33%;
  fill: black;
  border-radius: 50%;
}

.navbar svg:hover {
  background-color: whitesmoke;
  cursor: pointer;
}


/* section */
.section {
  height: auto;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #4F46E5, #F59E0B);
}

.section>#text {
  font-family: var(--font);
  font-size: 5vw;
  font-weight: bolder;
  font-style: italic;
  color: #E5E7EB;
  text-align: center;
}

#textarea>h2,
h3 {
  font-family: var(--font);
  text-align: center;
  margin-top: 5vh;
}

#textarea {
  padding-left: 15vw;
  padding-right: 15vw;
}

#textarea>p {
  font-size: 10vw;
}

#search {
  height: 5vh;
  width: 50vw;
  background-color: #1a1a1a;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 30px;
  border: 3px solid whitesmoke;
  margin-top: 2vh;

}

#search-field {
  height: 7vh;
  width: 45vw;
  outline: none;
  padding: 7px;
  border: none;
  font: 1em sans-serif;
  border-radius: 30px;
}

#svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 20vw;
  margin: 6px;
}

#svg>svg {
  fill: aliceblue;
}

#svg>svg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font: 1.5vw var(--font);
}

#output>h3>a>href {
  font: 1em sans-serif;
  color: #1a1a1a;

}

#output>label {
  margin-top: 5vh;
  margin-right: 1vw;
}

#para {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

#error {
  margin-top: 3vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
}




@media screen and (min-width:250px) {
  .navbar svg {
    margin-left: 5vh;
  }
}

@media screen and (min-width:650px) {
  #svg {
    width: 6vw;
    margin-left: 2vh;
    size: 10px;
  }

  #error {
    font-size: 2vw;
  }

  #para {
    font-size: 1.5vw;
  }



}

@media screen and (max-width:500px) {
  #search {
    width: 75vw;
    margin-bottom: 2vh;
  }

  #search-field {
    width: 70vw;
  }

  h3 {
    font: 4vw sans-serif;
  }
#output{
  display: inline;
  margin-left: 80px;
}
}